body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

h1 {
	font-family: 'Montserrat', sans-serif;
}

form {
	position: relative;
	width: 70%;
	left: 15%;
}

input {
	font-family: 'Open Sans', sans-serif;
	padding: 5px;
	width: 50%;
}

button {
	font-family: 'Open Sans', sans-serif;
	padding: 5px;
	width: 23%;
}